target/
.idea/
dependency-reduced-pom.xml

# Local config
local*.properties
output/

# Same as for standard app
/ScriptControlPanel-Win.zip
/ScriptControlPanel.exe
/ScriptControlPanel.exe.lnk
app/
runtime/
config/my_own*
tmp/
*.log