.button {
    -fx-font: normal bold 12 Langdon;
    -fx-text-fill: green;
}
.tooltip {
    -fx-font: normal bold 12 Langdon;
    -fx-text-fill: red;
    -fx-base: #AE3522;
}
.mainStyle > * {
    -fx-font: normal bold 12 Langdon;
}
.scroll-pane {
    -fx-padding: 0;
    -fx-border-width: 0;
}
