.root {
    -fx-font-family: 'Roboto', sans-serif;
}

.tooltip {
    -fx-font-size: 12px;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 8px 15px;
    -fx-border-radius: 6px;
}

.text-header {
    -fx-fill: #2196F3;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.text-main-header {
    -fx-fill: #2196F3;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-color: #F5F5F5;
}

.mainStyle > * {
    -fx-font: normal bold 12px 'Roboto', sans-serif;
}

.VBox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.HBox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #1e88e5; /* Darker Blue */
    -fx-font-size: 14px;
}

.button-default {
    -fx-background-color: #90caf9; /* Lighter Blue */
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
}

.button-default:hover {
    -fx-background-color: #bbdefb; /* Even Lighter Blue */
}

.tooltip-custom {
    -fx-text-fill: red;
}

.author-image {
    -fx-fit-height: 50px; /* SIZE_OF_AUTHOR_IMAGE_IN_PIPIXELS */
    -fx-fit-width: 50px;
}

.author-note {
    -fx-alignment: center;
}

/* 1. Target ONLY the top-level text (Settings, About) */
.menu-bar > .container > .menu > .label,
.menu-bar .menu > .label {
    -fx-text-fill: #1e88e5; /* Default Blue */
}

/* 2. Top-level Hover: ONLY turn the top label white */
.menu-bar .menu:hover > .label,
.menu-bar .menu:showing > .label {
    -fx-text-fill: white !important;
}

.menu-bar .menu:hover,
.menu-bar .menu:showing {
    -fx-background-color: #2196F3;
}

/* 3. Dropdown items: Force them to stay blue by default */
.menu-item .label {
    -fx-text-fill: #2196F3 !important;
}

/* 4. Dropdown Hover: Turn only the hovered sub-item white */
.menu-item:focused {
    -fx-background-color: #2196F3;
}

.menu-item:focused .label {
    -fx-text-fill: white !important;
}

.primary-page {
    -fx-min-width: 400px;
}

.background-primary {
    /*-fx-background-color: #F5F5F5; !* Fallback color *!*/
    /* This uses a seamless PNG pattern which JavaFX supports natively */
    -fx-background-image: url("/styles/images/snowflakes.png");
    -fx-background-repeat: repeat;
}

.hbox-spacing {
    -fx-spacing: 5;
}
