.root {
    -fx-font-family: 'Roboto', sans-serif;
}

.tooltip {
    -fx-font-size: 12px;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 8px 15px;
    -fx-border-radius: 6px;
}

.text-header {
    -fx-fill: #0073e6;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.text-main-header {
    -fx-fill: #06a650;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-color: #eeeeee;
}

.mainStyle > * {
    -fx-font: normal bold 12px 'Roboto', sans-serif;
}

.VBox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.HBox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

.button-default {
    -fx-background-color: #E39100FF;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
}

.button-selected {
    -fx-background-color: #00b6ae;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
}

.tooltip-custom {
    -fx-text-fill: red;
}

.author-image {
    -fx-fit-height: 50px; /* SIZE_OF_AUTHOR_IMAGE_IN_PIXELS */
    -fx-fit-width: 50px;
}

.background-primary {
    -fx-background-color: rgb(33, 33, 33);
}

.hbox-spacing {
    -fx-spacing: 5;
}

